body {
    background-image: url(https://wallpaperaccess.com/full/2749592.jpg);
}

form {
    margin-top: 50px;
}

.temperature {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.col-2 {
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 5px 10px;
    text-align: left;
    color: black;
    width: 20%;
    box-sizing: border-box;
}